Given n men and n women, where each person has ranked all potential mates (from the opposite sex), match those people so that no two people of opposite sex would both rather have each other than their current partners.

In [1]:
!ls

'Preference List.xlsx'
 README.md
'Stable Marriage Problem, Matching Algorithm, Galey-Shapley Algorithm.ipynb'

In [2]:
import pandas as pd
df_people = pd.read_excel("Preference List.xlsx")
type(df_people.loc[0, "Preferences"])
df_people["Preferences"] = df_people["Preferences"].str.split(", ", expand=False)

In [3]:
df_people["Partner"] = None
df_people = df_people.set_index("Name")
df_people

         Gender                               Preferences Partner
Name
Anne          f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Berta         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Claudia       f  [Berthold, Anton, Dieter, Emil, Claudio]    None
Diana         f  [Claudio, Berthold, Anton, Dieter, Emil]    None
Fiona         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Anton         m      [Claudia, Fiona, Diana, Berta, Anne]    None
Berthold      m      [Claudia, Fiona, Diana, Berta, Anne]    None
Claudio       m      [Berta, Anne, Claudia, Fiona, Diana]    None
Dieter        m      [Diana, Berta, Anne, Claudia, Fiona]    None
Emil          m      [Fiona, Diana, Berta, Anne, Claudia]    None

## Implementation of the Galey-Shapley Algorithm

Every free men gets a women according to his preference (if she is still free). Assign women to men by iterating over all men.

If a woman is not free, and she finds that she liked the proposing man more than her current partner, then she takes the proposing man.

Repeat the entire process over and over until everybody is married

In [4]:
df_people

         Gender                               Preferences Partner
Name
Anne          f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Berta         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Claudia       f  [Berthold, Anton, Dieter, Emil, Claudio]    None
Diana         f  [Claudio, Berthold, Anton, Dieter, Emil]    None
Fiona         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Anton         m      [Claudia, Fiona, Diana, Berta, Anne]    None
Berthold      m      [Claudia, Fiona, Diana, Berta, Anne]    None
Claudio       m      [Berta, Anne, Claudia, Fiona, Diana]    None
Dieter        m      [Diana, Berta, Anne, Claudia, Fiona]    None
Emil          m      [Fiona, Diana, Berta, Anne, Claudia]    None

In [5]:
print(df_people)
df_people["Partner"]

         Gender                               Preferences Partner
Name
Anne          f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Berta         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Claudia       f  [Berthold, Anton, Dieter, Emil, Claudio]    None
Diana         f  [Claudio, Berthold, Anton, Dieter, Emil]    None
Fiona         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Anton         m      [Claudia, Fiona, Diana, Berta, Anne]    None
Berthold      m      [Claudia, Fiona, Diana, Berta, Anne]    None
Claudio       m      [Berta, Anne, Claudia, Fiona, Diana]    None
Dieter        m      [Diana, Berta, Anne, Claudia, Fiona]    None
Emil          m      [Fiona, Diana, Berta, Anne, Claudia]    None

Name
Anne        None
Berta       None
Claudia     None
Diana       None
Fiona       None
Anton       None
Berthold    None
Claudio     None
Dieter      None
Emil        None
Name: Partner, dtype: object

In [6]:
print(df_people)
df_people["Partner"].isnull()

         Gender                               Preferences Partner
Name
Anne          f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Berta         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Claudia       f  [Berthold, Anton, Dieter, Emil, Claudio]    None
Diana         f  [Claudio, Berthold, Anton, Dieter, Emil]    None
Fiona         f  [Dieter, Emil, Claudio, Berthold, Anton]    None
Anton         m      [Claudia, Fiona, Diana, Berta, Anne]    None
Berthold      m      [Claudia, Fiona, Diana, Berta, Anne]    None
Claudio       m      [Berta, Anne, Claudia, Fiona, Diana]    None
Dieter        m      [Diana, Berta, Anne, Claudia, Fiona]    None
Emil          m      [Fiona, Diana, Berta, Anne, Claudia]    None

Name
Anne        True
Berta       True
Claudia     True
Diana       True
Fiona       True
Anton       True
Berthold    True
Claudio     True
Dieter      True
Emil        True
Name: Partner, dtype: bool

In [7]:
def validate_program_state(df_people):
    count_number_of_partners = 0
    for index, row in df_people.iterrows():
        if row["Partner"] is not None:
            count_number_of_partners = count_number_of_partners + 1
            
    if (count_number_of_partners % 2) == 0:
        raise ValueError("Error occurred :-(")

SyntaxError: invalid syntax (1779411864.py, line 4)

In [ ]:
while pd.isnull(df_people["Partner"]).any():
    for man_index, man_row in df_people[(df_people["Gender"] == "m") & (df_people["Partner"].isnull())].iterrows():
        for woman_index in man_row["Preferences"]: # woman_index = "Claudia"
            # Select cell where row = "Claudia" and column = "Partner" and see if it is None.
            current_partner_of_the_woman = df_people.loc[woman_index, "Partner"]
            woman_preferences = df_people.loc[woman_index, 'Preferences']
            validate_program_state(df_people)
            print(f"Man: {man_index}\n {df_people}")
            print("\n\n\n")
            print(f"woman_index: {woman_index}")
            print(f"woman_preferences: {woman_preferences}")
            

            if current_partner_of_the_woman == None: 
                df_people.loc[woman_index, "Partner"] = man_index
                df_people.loc[man_index, "Partner"] = woman_index
                break # Continue -> Immediately jump to the next element in the current loop. 

            else: # Paragraph 2 of the instructions. "If a woman is not free..."
                proposing_man = man_index

                if woman_preferences.index(proposing_man) < woman_preferences.index(current_partner_of_the_woman):
                    # Divorce and new partner
                    # Change current partner of the woman to the proposing man
                    df_people.loc[woman_index, "Partner"] = proposing_man
                    # Existing (prior) partner is now alone
                    df_people.loc[current_partner_of_the_woman, "Partner"] = None
                    # New partner gets married to the woman
                    df_people.loc[man_index, "Partner"] = woman_index
                    break