Given n men and n women, where each person has ranked all potential mates (from the opposite sex), match those people so that no two people of opposite sex would both rather have each other than their current partners.

In [4]:
!ls

'Preference List.xlsx'
 README.md
'Stable Marriage Problem, Matching Algorithm, Galey-Shapley Algorithm.ipynb'

In [70]:
import pandas as pd
df_people = pd.read_excel("Preference List.xlsx")
type(df_people.loc[0, "Preferences"])

str

In [71]:
df_people["Preferences"].str.split(",", expand=False)[0]

['Dieter', ' Emil', ' Claudio', ' Berthold', ' Anton']

In [72]:
df_people["Preferences"] = df_people["Preferences"].str.split(", ", expand=False)
df_people["Partner"] = None
df_people

       Name Gender                               Preferences Partner
0      Anne      f  [Dieter, Emil, Claudio, Berthold, Anton]    None
1     Berta      f  [Dieter, Emil, Claudio, Berthold, Anton]    None
2   Claudia      f  [Berthold, Anton, Dieter, Emil, Claudio]    None
3     Diana      f  [Claudio, Berthold, Anton, Dieter, Emil]    None
4     Fiona      f  [Dieter, Emil, Claudio, Berthold, Anton]    None
5     Anton      m      [Claudia, Fiona, Diana, Berta, Anne]    None
6  Berthold      m      [Claudia, Fiona, Diana, Berta, Anne]    None
7   Claudio      m      [Berta, Anne, Claudia, Fiona, Diana]    None
8    Dieter      m      [Diana, Berta, Anne, Claudia, Fiona]    None
9      Emil      m      [Fiona, Diana, Berta, Anne, Claudia]    None

## Implementation of the Galey-Shapley Algorithm

Every free men gets a women according to his preference (if she is still free). Assign women to men by iterating over all men.

If a woman is not free, and she finds that she linked the proposing man more than her current partner, then she takes the proposing man.

Repeat the entire process over and over until everybody is married

In [74]:
df_people = df_people.set_index("Name", drop=False)
for man_index, man_row in df_people[df_people["Gender"] == "m"].iterrows():
    print(f"\nPreferences for {man_index}: {man_row['Preferences']}")
    for woman_index in man_row["Preferences"]:
        if df_people.loc[woman_index, "Partner"] == None:
            df_people.loc[woman_index, "Partner"] = man_index
            df_people.loc[man_index, "Partner"] = woman_index
            
            break # Continue -> Immediately jump to the next element in the current loop. 
print(df_people)

Preferences for Anton: ['Claudia', 'Fiona', 'Diana', 'Berta', 'Anne']

Preferences for Berthold: ['Claudia', 'Fiona', 'Diana', 'Berta', 'Anne']

Preferences for Claudio: ['Berta', 'Anne', 'Claudia', 'Fiona', 'Diana']

Preferences for Dieter: ['Diana', 'Berta', 'Anne', 'Claudia', 'Fiona']

Preferences for Emil: ['Fiona', 'Diana', 'Berta', 'Anne', 'Claudia']
              Name Gender                               Preferences   Partner
Name
Anne          Anne      f  [Dieter, Emil, Claudio, Berthold, Anton]      Emil
Berta        Berta      f  [Dieter, Emil, Claudio, Berthold, Anton]   Claudio
Claudia    Claudia      f  [Berthold, Anton, Dieter, Emil, Claudio]     Anton
Diana        Diana      f  [Claudio, Berthold, Anton, Dieter, Emil]    Dieter
Fiona        Fiona      f  [Dieter, Emil, Claudio, Berthold, Anton]  Berthold
Anton        Anton      m      [Claudia, Fiona, Diana, Berta, Anne]   Claudia
Berthold  Berthold      m      [Claudia, Fiona, Diana, Berta, Anne]     Fiona
Claudio    Claudio      m      [Berta, Anne, Claudia, Fiona, Diana]     Berta
Dieter      Dieter      m      [Diana, Berta, Anne, Claudia, Fiona]     Diana
Emil          Emil      m      [Fiona, Diana, Berta, Anne, Claudia]      Anne